// color VAariables
$beseColor1: #F9F9F9;
$beseColor2: #FFFFFF;
$mainColor1: #1F286F;
$accentColor1 :#B2282A;
$accentColor2 :#FFD700;
$textColor1 :#1F286F;
$textColor2 :#FFFFFF;
$textColor3 :#333333;
$overlay1: rgba(#3c2f10, 0.3);
$overlay2: rgba(#ffffff, 0.85);

// Font Variables
$segoe: "Segoe UI";
$sans: "Noto sans jp";


// =================================================
// Breakpoints
// =================================================
$breakpoint-pc: 1024px; // PCとタブレットの境界
$breakpoint-sp: 768px; // タブレットとスマホの境界